.login{
  background-image: url(Img/2d5061fd83cd2bb1574aa3ffde9c06ee.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.lobby{
  background-image: url(Img/lobby-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.options ul{
  display: grid;
  grid-template-columns: auto auto;
}
.option{
  max-width: 400px !important;
  border-radius: 80px ;
  margin-bottom: 10px;
  height: 10vh;
}
.option button{
  width: 100%;
  height: 100%;
  background-color: blueviolet;
}
.option :hover{
  cursor: pointer;
  background-color: purple;
  /* background-color: black;
  background-color: transparent; */
}
.question_bar{
  position: relative;
  top: 60%;
}
/* .options ul li{
  margin-bottom: 10px;
  max
} */
/* .question{
  bac
} */
#won{
  position: relative;
  top: 60%;
  padding: 20px;
  text-align: center;
}
.congracts{
  animation: congratulate 2s infinite running ;
}
@keyframes congratulate{
  10%{
    color: green;
  }
  25%{
    color: blue;
  }
  50%{
    color: aqua;
  }
  75%{
    color: cyan;
  }
  100%{
    color: #b5f20e
  }

}